---
layout: default
title: TTY • The Ruby terminal apps toolkit
section: overview
---
<section id="home" class="intro">
  <div class='container'>
    <a href="{{site.baseurl}}/" class="brand">
      <img class="brand__logo" src="{% asset tty_logo.png @data %}" alt="tty logo" />
    </a>
    <h1 class="blurb">Terminal Apps Creation Toolkit</h1>
  </div>
</section>

<section id="features" class="features-area">
  <div class='features-wrapper'>
    <div class='container'>
      <h3 class='features-heading'>Everything you need to build command line apps</h3>

      <ul class="features-list">
        {% for feature in site.data.features %}
        <li class="features-list__item">
          <div class="features-list__icon">
            <i class="{{ feature.icon }}"></i>
          </div>
          <div class="features-list__content">
            <h4 class="features-list__title">{{ feature.title }}</h4>
            <p class="features-list__text">{{ feature.desc }}</p>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>

<section id="gems">
  <div class="gems-wrapper">
    <div class='container page-block'>
      <div class='section-heading'>
        <h2 class='section-heading__heading'>Explore components</h2>
        <p class='section-heading__subhead'>Mix & match what you need to create your command line tool</p>
      </div>

      <ul class="gems-list">
        {% for gem in site.data.plugins limit:9 %}
        <li class="gems-list__item gems-list__item--{{forloop.index}}">
            <div class="gems-list__icon">
              <i class="fas fa-gem"></i>
            </div>
            <div class="gems-list__content">
              <h4 class="gems-list__title">{{ gem.name }}</h4>
              <p>{{ gem.desc }}</p>
              <a class="gems-list__action" href="{{ gem.link }}">Learn more</a>
            </div>
          </li>
        {% endfor %}
      </ul>

      <p class="center">
        <a href="{{ site.baseurl }}/gems" class="button">View all components</a>
      </p>
    </div>
  </div>
</section>

<section id="quick-start">
  <div class="setup-wrapper">
    <div class='container page-block'>
      <div class='section-heading'>
        <h2 class='section-heading__heading'>Quick Start</h2>
        <p class='section-heading__subhead'>While installing TTY is simple, there are a few requirements</p>
      </div>

      <p>TTY components are installed and managed via <a href="http://rubygems.org">rubygems</a>, the <a href="http://www.ruby-lang.org/en/">ruby</a> package manager.</p>

      <p>Choose your favourite <a href="{{ site.baseurl }}/gems">tty component</a> and install it.</p>

{% highlight bash %}
$ gem install tty-prompt

Successfully installed tty-prompt
Parsing documentation for tty-prompt
1 gem installed
{% endhighlight %}

      <div class='section-heading'>
        <h2 class='section-heading__heading'>Creating Terminal Apps</h2>
        <p class='section-heading__subhead'>You are one step away from generating your terminal application</p>
      </div>

      <p>To create a terminal app you need to install tty gem first.</p>

{% highlight bash %}
$ gem install tty
{% endhighlight %}

      <p class='narrow-para'>Once tty gem is installed you gain access to <em>teletype</em> executable which will generate your command line application.</p>

{% highlight bash %}
$ teletype new app

Your teletype project has been created successfully.
Run "teletype help" for more commands.
{% endhighlight %}

    <p class="center">
      <a href="https://github.com/piotrmurach/tty" class="button">Learn more on github</a>
    </p>
    </div>
  </div>
</section>

<section>
  <div class="testimonials-wrapper">
    <div class='container page-block'>
      <div class='section-heading'>
        <h2 class='section-heading__heading'>Testimonials</h2>
        <p class='section-heading__subhead'>Nice Things People Have Said</p>
      </div>

      <ul class="testimonials">
        <li class="testimonials__item">
          <div class="testimonial">
            <i class="fa fa-quote-left testimonial__icon"></i>
            <div class="testimonial__body">
              <p class="testinomial__text">The TTY gem-suite has helped me automate a ton of stuff I was doing manually. Writing the scripts in Ruby instead of pure Bash script has motivated me a lot, too. The api design for prompts, spinners and commands made it so intuitive to use, such a joy.</p>
              <h3 class="testimonial__name">Time Brandes</h3>
              <h3 class="testimonial__job">CEO, Zinkler &amp; Brandes GmbH</h3>
            </div>
          </div>
        </li>
        <li class="testimonials__item">
          <div class="testimonial">
            <i class="fa fa-quote-left testimonial__icon"></i>
            <div class="testimonial__body">
              <p class="testinomial__text">I was always surprised by the amount of problems that the TTY family of gems solves. I remember when I first started looking for solutions for the command line gems I was developing, more often than not I landed on one of the TTY gems.</p>
              <h3 class="testimonial__name">Danny Ben Shitrit</h3>
              <h3 class="testimonial__job">COO, Telesofia Medical</h3>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>

<section>
  <div class="trusted-wrapper">
    <div class='container page-block'>
      <div class='section-heading'>
        <h2 class='section-heading__heading'>Trusted by</h2>
        <p class='section-heading__subhead'>Devs at these companies use TTY components</p>
      </div>

      <ul class='logos-list'>
        <li class='logos-list__item'>
          <a href="https://fastlane.tools/" target="_blank">
            <img class="company-logo" src="{% asset fastlane_logo.png @data %}" alt="fastlane logo" />
          </a>
        </li>
        <li class='logos-list__item'>
          <a href="https://www.kontena.io/" target="_blank">
            <img class="company-logo" src="{% asset kontena-logo.svg @data %}" alt="Kontena logo" />
          </a>
        </li>
        <li class='logos-list__item'>
          <a href="https://codeclimate.com/" target="_blank">
            <img class="company-logo" src="{% asset code-climate-logo.svg @data %}" alt="Code Climate logo" />
          </a>
        </li>
        <li class='logos-list__item'>
          <a href="https://puppet.com/" target="_blank">
            <img class="company-logo" src="{% asset puppet-labs-logo.png @data %}" alt="Puppet Labs logo" />
          </a>
        </li>
        <li class='logos-list__item'>
          <a href="https://www.inspec.io/" target="_blank">
            <img class="company-logo" src="{% asset inspec-by-chef-logo.svg @data %}" alt="Inspect by Chef logo" />
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
