---
layout: default
title: TTY • Toolbox for developing CLI clients in Ruby
section: overview
---
<section id="home" class="intro">
  <div class='container'>
    <a href="{{site.url}}" class="brand">
      <img class="brand__logo" src="{{prefix}}{% asset_path tty_logo.png %}" alt="tty logo" /></a>
    <h1 class="blurb">The Ruby terminal apps toolkit</h1>
  </div>
</section>

<section id="features" class="features-area">
  <div class='features-wrapper'>
    <div class='container'>
      <h3 class='features-heading'>Everything you need to build command line apps</h3>

      <ul class="features-list">
        {% for feature in site.data.features %}
        <li class="features-list__item">
          <div class="features-list__icon">
            <i class="fa fa-{{ feature.icon }}"></i>
          </div>
          <div class="features-list__content">
            <h4 class="features-list__title">{{ feature.title }}</h4>
            <p class="features-list__text">{{ feature.desc }}</p>
          <div>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>

<section id="gems">
  <div class="gems-wrapper">
    <div class='container page-block'>
      <div class='section-heading'>
        <h2 class='section-heading__heading'>Explore gems</h2>
        <p class='section-heading__subhead'>Mix & match what you need to build your command line tool</p>
      </div>

      <ul class="gems-list">
        {% for gem in site.data.plugins limit:9 %}
        <li class="gems-list__item gems-list__item--{{forloop.index}}">
            <div class="gems-list__icon">
              <i class="fa fa-diamond"></i>
            </div>
            <div class="gems-list__content">
              <h4 class="gems-list__title">{{ gem.name }}</h4>
              <p>{{ gem.desc }}</p>
              <a class="gems-list__action" href="{{ gem.link }}">Learn more</a>
            </div>
          </li>
        {% endfor %}
      </ul>

      <p class="center">
        <a href="{{ prefix }}/gems" class="button">View all gems</a>
      </p>
    </div>
  </div>
</section>

<section id="quick-start">
  <div class="setup-wrapper">
    <div class='container page-block'>
      <div class='section-heading'>
        <h2 class='section-heading__heading'>Quick Start</h2>
        <p class='section-heading__subhead'>While installing TTY is simple, ther are few requirements</p>
      </div>

      <p>TTY is installed and managed via <a href="http://rubygems.org">rubygems</a>, the <a href="http://www.ruby-lang.org/en/">ruby</a> package manager.</p>
      <p>To install all the tty components you can do</p>

{% highlight ruby %}
$ gem install tty
{% endhighlight %}

<p>Alternatively, lookup your favourite <a href="{{prefix}}/gems">tty gem</a> and install it</p>

{% highlight ruby %}
$ gem install tty-prompt
{% endhighlight %}

    <p class="center">
      <a href="https://github.com/piotrmurach/tty" class="button">View source on github</a>
    </p>
    </div>
  </div>
</section>
