<footer class="footer-wrapper" role="contentinfo">
  <div class="contact">
    <p>
      <a href="http://twitter.com/piotr_murach/" target="_blank" title="Follow Piotr Murach on Twitter" class='icon'><i class='fa fa-twitter'></i></a>
      <a href="http://github.com/piotrmurach/" target="_blank" title="Follow Piotr Murach on GitHub" class='icon'><i class='fa fa-github'></i></a>
      <a href="https://uk.linkedin.com/pub/piotr-murach/24/96b/1a8" target="_blank" title="Connect with Piotr Murach on Linkedin" class='icon'><i class='fa fa-linkedin'></i></a>
      <a href="https://gratipay.com/~piotr_murach/" target="_blank" title="Offering for Piotr's contributions" class='icon'><i class='fa fa-gratipay'></i></a>
    </p>
  </div>
  <div class="contact">
    <p>Brought to you by <a href="" target="_blank">Piotr Murach</a>, logo by <a href="https://twitter.com/fidgitaldesign" target="_blank">Martin Davies</a></p>
  </div>
</footer>
