<footer class="footer-wrapper" role="contentinfo">
  <div class="contact">
    <p>
      <a href="http://twitter.com/piotr_murach/" title="Follow Piotr Murach on Twitter" class='icon'><i class='fab fa-twitter'></i></a>
      <a href="http://github.com/piotrmurach/" title="Follow Piotr Murach on GitHub" class='icon'><i class='fab fa-github-alt'></i></a>
      <a href="https://uk.linkedin.com/pub/piotr-murach/24/96b/1a8" title="Connect with Piotr Murach on Linkedin" class='icon'><i class='fab fa-linkedin-in'></i></a>
      <a href="https://www.patreon.com/piotrmurach" title="Become a patron" class='icon'><i class='fab fa-patreon'></i></a>
    </p>
  </div>
  <div class="contact">
    <p>Copyright &copy; 2019 Crafted with <i class='fas fa-heart'></i> by <a href="https://piotrmurach.com">Piotr Murach</a>, logo by <a href="https://twitter.com/fidgitaldesign">Martin Davies</a></p>
  </div>
</footer>
