<input type="checkbox" id="toggle" class="nav-checkbox" />
<label for="toggle" class='nav-toggle'>
  <div class='nav-toggle__name'>Menu</div>
  <div class='nav-toggle__burger'>&#9776;</div>
</label>
<nav role="navigation">
  <ul class="nav-menu">
    <li class="nav-menu__item {% if page.section == 'overview' %}nav-menu__item-active{% endif %}"><a href="{{ site.baseurl }}/">Home</a></li>

    <li class="nav-menu__item {%if page.section == 'gems' %}nav-menu__item-active{% endif %}"><a href="{{ site.baseurl }}/gems/">Gems</a></li>

    <li class='nav-menu__item more' id='dropdown-button'>
      <input type="checkbox" id="dropdown-toggle" class="dropdown-checkbox" />
      <label for="dropdown-toggle" class='dropdown-toggle'>API</label>

      <nav class='nav-dropdown' role="navigation">
        <ul class='nav-dropdown-menu'>
          {% assign sorted_plugins = site.data.plugins | sort: 'name' %}
          {% for plugin in sorted_plugins %}
            <li><a href="http://www.rubydoc.info/gems/{{ plugin.name }}">{{plugin.name}}</a></li>
          {% endfor %}
        </ul>
      </nav>
    </li>

    <li class="nav-menu__item"><a href="https://gitter.im/piotrmurach/tty">Chat</a></li>
    <!-- <li class="nav-link"><a href="{{ prefix }}blog/">Blog</a></li> -->
  </ul>
</nav>
