{% if page.subpage %}
  {% assign prefix = "../../" %}
{% elsif page.page %}
  {% assign prefix = "../" %}
{% else %}
  {% assign prefix = "" %}
{% endif %}

<aside class="side-nav">
  <a class="tty-branding" href="{{site.url}}/"><img class="tty-logo-small" src="{{ prefix }}assets/{% asset_path tty_logo_medium.png %}" /></a>
  <h4 class="nav-header">Documentation</h4>
  <ul>
    <li class="{%if page.title == 'Table creation'%}active{% endif %}">
      <a href="{{ prefix }}usage/tables/">Creating Tables</a>
    </li>
    <li>
      <a href="{{ prefix }}usage/progress_bars/">Creating Progress bars</a>
    </li>
  </ul>
</aside>
