<aside class="side-nav">
  <a class="small-logo" href="{{site.url}}/"><img class="tty-logo-small" src="{{site.url}}/assets/{{'tty_logo_small.png' | asset_path}}" /></a>
  <h4 class="nav-header">Table</h4>
  <ul>
    <li class="{%if page.title == 'table init'%}active{% endif %}">
      <a href="{{site.url}}/usage/table-creation">Creation</a>
    </li>
    <li>
      <a href="{{site.url}}/usage/table-border">Border</a>
    </li>
    <li>
      <a href="">Alignment</a>
    </li>
    <li>
      <a href="">Style</a>
    </li>
    <li>
      <a href="">Filter</a>
    </li>
  </ul>
  <h4 class="nav-header">Terminal</h4>
  <ul>
    <li>
      <a href="">Properties</a>
    </li>
    <li>
      <a href="">Color</a>
    </li>
    <li>
      <a href="">Pager</a>
    </li>
  </ul>
  <h4 class="nav-header">Shell</h4>
  <ul>
    <li>
      <a href="">Say</a>
    </li>
    <li>
      <a href="">Ask Suestion</a>
    </li>
    <li>
      <a href="">Suggest</a>
    </li>
  </ul>
  <h4 class="nav-header">System</h4>
  <ul>
    <li>
      <a href="">Platform</a>
    </li>
    <li>
      <a href="">Which</a>
    </li>
  </ul>
</aside>
