---
layout: default
title: TTY Components
section: components
permalink: /components/
---

<div class='plugins-wrapper'>
  <div class='section-heading'>
    <h1 class='section-heading__heading'>{{ page.title }}</h1>

    <p class='section-heading__subhead'>Browse all the components from the tty ecosystem</p>
  </div>

  <p class='section-explanation'>Each component can be installed independently,<br/> so you can mix and match what your terminal app needs.</p>

  <section class="plugins-section wide-container">
    <ul class='plugins-list'>
      {% assign sorted_plugins = site.data.plugins | sort: 'name' %}
      {% for plugin in sorted_plugins %}
      <li class="plugins-list__item">
        <a href="http://github.com/piotrmurach/{{ plugin.name }}" class="plugins-list__link">
          <h2 class='plugins-list__title'><i class="fas fa-gem"></i> {{ plugin.name }}</h2>
        <p class='plugins-list__desc {% if sorted_plugins.last.name == plugin.name %}plugins-list__desc-last{% endif %}'>{{ plugin.desc }}</p>
        </a>
      </li>
      {% endfor %}
    </ul>
  </section>
</div>
