---
layout: default
title: TTY Components
section: components
permalink: /components/
---

<div class='plugins-wrapper'>
  <div class='section-heading'>
    <h1 class='section-heading__heading'>{{ page.title }}</h1>

    <p class='section-heading__subhead'>Browse all the components from the tty ecosystem</p>
  </div>

  <p class='section-explanation'>Each component can be installed independently,<br/> so you can mix and match what your terminal app needs.</p>

  <section class="plugins-section page-block">
    <dl class='plugins-list'>
      {% assign sorted_plugins = site.data.plugins | sort: 'name' %}
      {% for plugin in sorted_plugins %}
        <dt class='plugins-list__title'><a href="http://github.com/piotrmurach/{{ plugin.name }}">{{ plugin.name }}</a></dt>
        <dd class='plugins-list__desc {% if sorted_plugins.last.name == plugin.name %}plugins-list__desc-last{% endif %}'>{{ plugin.desc }}</dd>
      {% endfor %}
    </dl>
  </section>
</div>
