html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
body {
  font: 400 112.5%/1.4 'VarelaRegular';
  @include max-screen($tablet-size) { font: 400 100%/1.4 'VarelaRegular'; }
  @include max-screen($mobile-size) { font: 400 90%/1.4 'VarelaRegular'; }
  @include transition(font-size .5s ease);
  color: $font-color;
}

a {
  @include transition(color .5s ease);
  text-decoration: none;
  color: $main-color;

  &:visited { color: $main-color; }
  &:hover   { color: $main-dark-color; }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;

  li {
    float: none;
    display: inline-block;
    width: auto;
    margin-left: .2em;
    margin-right: .4em;
  }
}

h1, h2, h3 { text-transform: uppercase; }

table {
  width: 100%;
  border: 1px solid #DDDDDD;
  border-left: 0;
  border-collapse: separate;
  border-radius: 4px;
  text-align: left;
  thead {
    line-height: 1.6em;
  }
  th {
    font-weight: bold;
    border-left: 1px solid #DDDDDD;
    padding: 12px;
    line-height: 20px;
    text-align: left;
  }
  tbody {
    tr {
      margin: 5px 0;
      &:nth-of-type(odd) {
        background-color: #F9F9F9;
      }
    }
    td {
      border-left: 1px solid #DDDDDD;
      padding: 0.5em;
      line-height: 20px;
      border-top: 1px solid #DDDDDD;
    }
  }
}

.center { text-align: center; }
.narrow-para {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  @include max-screen($mobile-size) {
    width: 100%;
    margin: 0;
  }
}

.button {
  display: inline-block;
  background-color: $main-color;
  color: #FFFFFF;
  text-transform: uppercase;
  padding: .65em 1em;
  letter-spacing: 2px;
  text-align: center;
  @include transition(background-color .5s ease);

  &:hover {
    color: #FFFFFF;
    background-color: $main-dark-color;
  }
  &:visited { color: #FFFFFF; }
}

.container {
  margin: 0 auto;
  padding: 0;
  @include max-screen($tablet-size) {
    padding: 0 1em;
  }
  max-width: 54em;
  @include clearfix();
}
.page-block { padding: 3.625em 0; }

.page-heading {
  text-transform: none;
  margin: 2.67em 0;
}
.nav-checkbox,
.dropdown-checkbox { display: none; }

.nav-toggle {
  position: relative;
  display: none;
  padding: 0.625em 0;
  text-align: left;
  background-color: $main-color;
  color: #fff;
  cursor: pointer;

  @include max-screen($mobile-size) {
    display: block;
    border-bottom: 1px solid #fff;
  }

  &__name {
    display: inline-block;
    font-size: 1.8em;
    margin-left: 10px;
  }

  &__burger {
    position: absolute;
    top: 0; right: 10px; bottom: 0; left: auto;
    display: inline-block;
    font-size: 3em;
  }
}
nav {
  @include max-screen($mobile-size) {
    max-height: 0;
    overflow: hidden;
    @include transition(all .15s ease);
  }
  &.nav-dropdown { display: none; }
}
.nav-checkbox:checked ~ nav { max-height: 1000px; }
.dropdown-checkbox:checked ~ nav.nav-dropdown { 
  max-height: 1000px;
  display: block;
}

.nav-menu {
  position: relative;
  margin: 0 auto;
  text-align: center;

  &__item {
    margin: 0 6px;
    padding: 0;

    @include max-screen($mobile-size) {
      display: block;
      margin: 0;
      text-align: left;
    }

    a, label {
      display: inline-block;
      margin: 0;
      padding: 2.4em 1.2em .8em;

      font-size: 1.1em;
      font-weight: 400;
      letter-spacing: 1px;
      color: #111111;

      border-bottom: 4px solid transparent;
      text-decoration: none;
      text-transform: uppercase;
      outline: none;
      @include transition(color .3s linear, border .3s ease-out);

      &:hover {
        color: $main-color;
        border-bottom-color: $main-color;
      }

      @include max-screen($mobile-size) {
        display: block;
        padding: 1.2em 0.8em;
        border-bottom: 1px solid #ccc;
      }
    }

    &-active a, &-active label {
      color: #fff;
      background: $main-color;

      &:hover { color: #fff; }
    }

    &.more {
      position: relative;
      overflow: visible;

      > label:after {
        position: absolute;
        right: 0;
        @include max-screen($mobile-size) { right: 10px; }
        content: "\25BE";
      }
    }
  }
}

.nav-dropdown-menu {
  position: absolute;
  top: 6em;
  width: 20em;
  padding: 5px 0;

  -webkit-transform-style: preserve-3d;
  cursor: pointer;
  overflow: hidden;
  z-index: 666;

  text-align: left;
  background-color: #FFFFFF;
  box-shadow: 2px 2px 10px rgba(0,0,0,.45);

  @include transition(all 200ms ease-in-out);

  @include max-screen($mobile-size) {
    position: relative;
    width: 100%;
    border: none;
    padding: 0;
    top: 0;
    border-radius: 0;
  }

  li {
    display: block;
    margin: 0;

    > a {
      display: block;
      margin: 0;
      padding: 0;
      font-size: 1em;
      text-transform: none;
      padding: 2px 10px;
      clear: both;
      line-height: 1.5;
    }

    @include max-screen($mobile-size) {
      > a {
        padding-left: 2.4em;
        &:hover:before { left: 1.3em; }

        &:before {
          content: "›";
          font-size: 1.2em;
          position: absolute;
          left: 1em;
          @include transition(left 200ms ease-in-out);
        }
      }
    }
    &.nav-dropdown-menu__item {
      width: 10em;
      float: left;
      @include max-screen($mobile-size) {
        width: 100%;
        float: none;
      }
    }
  }
}

.banner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: .5em;
  background: $main-color;
}

.intro {
  position: relative;
  text-align: center;
  margin-bottom: 6em;
  @include max-screen($tablet-size) { margin-bottom: 5em; }
  @include max-screen($mobile-size) { margin-bottom: 4em; }

  .brand {
    display: inline-block;
    margin: 5.3em auto 0 auto;
    @include max-screen($mobile-size) {
      margin-bottom: 2 * $line-height-baseline;
    }

    &__logo {
      @include max-screen($tablet-size) { height: 12em; }
      @include max-screen($mobile-size) { height: 8em; }
    }
  }

  .blurb {
    position: relative;
    font: 400 2.4em/1.4em 'OpenSansLight';
    margin: 0.8em auto;
    text-transform: none;
    text-align: center;

    @include max-screen($tablet-size) {
      margin-top: .8em;
      font: 400 1.6em/1.4em 'OpenSansLight';
    }

    @include max-screen($mobile-size) {
      margin-top: .4em;
      font: 400 1.4em/1.4em 'OpenSansLight';
    }

    &:after {
      content: '';
      z-index: 100;
      position: absolute;
      left: 45%;
      bottom: -72px;
      width: 0;
      height: 0;
      border-left: 36px solid transparent;
      border-right: 36px solid transparent;
      border-top: 36px solid #CCCCCC;

      @include max-screen($tablet-size) {
        bottom: -50px;
        border-left: 24px solid transparent;
        border-right: 24px solid transparent;
        border-top: 24px solid #CCCCCC;
      }

      @include max-screen($mobile-size) {
        bottom: -30px;
        border-left: 18px solid transparent;
        border-right: 18px solid transparent;
        border-top: 18px solid #CCCCCC;
      }
    }
  }
}

.features-wrapper {
  position: relative;
  width: 100%;
  background-color: $features-color;
  color: white;
  box-shadow: 0px 0px 35px rgba(0,0,0,.45);
  text-align: center;

  .features-heading {
    color: white;
    font-size: 2em;
    text-transform: none;
    font-weight: normal;
    padding-top: 2em;
  }

  .features-list {
    margin: 2em auto;
    padding: 0;
    height: 100%;
    @include clearfix();

    &__item {
      position: relative;
      display: inline-block;
      float: left;
      margin: auto;
      min-height: 12em;
      width: 50%;
      @include max-screen($mobile-size) {
        width: 100%;
        min-height: 10em;
      }
    }

    &__icon {
      position: absolute;
      top: 0;
      left: 0;
      vertical-align: top;
      padding: .4em .6em;
      text-align: center;
      font-size: 36px;
      @include max-screen($mobile-size) {
        padding: .4em 0;
      }

      .fa-lightbulb-o {
        padding-left: 7px;
      }
    }

    &__content {
      vertical-align: top;
      padding-left: 80px;
      text-align: left;
      @include max-screen($mobile-size) {
        padding-left: 66px;
      }
    }
  }
}

.gems-wrapper {
  .gems-list {
    margin-bottom: 2em;
    @include min-screen($medium-size){
      @include display(flex);
      @include flex-wrap(wrap);
      margin-bottom: 3.75em;
    }

    &__item {
      position: relative;
      display: block;
      @include min-screen($medium-size) {
        @include display(flex);
        @include flex-direction(column);
        width: 33.3333%;
        border-right: 1px solid #e5e5e5;
        padding: 1.75em 1.25em;
      }
      margin: 0;
      text-align: center;
      padding: 1.2em 0.85em;
      border-color: #e5e5e5;
      border-bottom: 1px solid #e5e5e5;

      &:nth-child(3n) {
        border-right: none;
      }

      &--7, &--8 {
        @include min-screen($medium-size) {
          border-bottom: none;
        }
      }
      &--9 {
        border-bottom: none;
      }
    }

    &__icon {
      display: inline-block;
      font-size: 40px;
      white-space: normal;
      color: #BE1D2C;
      @include max-screen($medium-size) {
        float: left;
      }
    }

    &__content {
      display: block;
      @include max-screen($medium-size) {
        text-align: left;
        margin-left: 4.825em;
      }
    }

    &__title {
      font-size: 1em;
    }

    &__action {
      position: relative;
      display: inline-block;
      padding-bottom: 0.4em;

      &:after {
        @include transition(all 0.15s ease-in-out);
        content: '';
        position: absolute;
        bottom: 0.4em;
        left: 0;
        height: 1px;
        width: 100%;
        background: $main-dark-color;
        @include linear-gradient(left, transparent 0%, $main-dark-color 50%, transparent 100%);
      }
      &:hover::after {
        bottom: 0.2em;
      }
    }
  }
}

.setup-wrapper {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  background-color: #f9fafa;
  text-align: center;

  .highlight {
    display: inline-block;
    width: 70%;
    margin: 0 auto;
    background: none;
    margin-bottom: 2em;
    @include max-screen($medium-size) {
      width: 90%;
    }

    pre {
      padding: 2em 2em 1.3em;
      box-shadow: 0 1px 4px #f1f0f0, inset 0 0 0 1px #e7e6e5;
      font-size: 0.9em;
      background-color: #fff;
      text-align: left;
    }

    .err {
      color: #111;
      background-color: transparent;
    }
  }
}
.trusted-wrapper {
  .logos-list {
    @include display(flex);
    @include flex-wrap(wrap);
    @include flex-direction(row);
    @include align-items(center);
    @include align-content(center);
    justify-content: space-evenly;

    &__item {
      display: inline-block;
      a {
        outline: none;
        &:hover, &:active {
          outline: none;
          border: none;
        }
      }

      img {
        height: 50px;
        max-width: 200px;
        margin: 1em;
      }
    }
  }
}

.section-heading {
  position: relative;
  text-align: center;

  &__heading {
    font-size: 2em;
    @include max-screen($medium-size) { font-size: 1.6em; }
    text-transform: none;
  }

  &__subhead {
    position: relative;
    font-size: 1.2em;
    @include max-screen($medium-size) { font-size: 1em; }
    color: #949494;

    &:before {
      content: '';
      position: absolute;
      top: -16px;
      left: 50%;
      bottom: auto;
      width: 50px;
      margin-left: -20px;
      height: 3px;
      display: block;
      background-color: $main-color;
    }
  }
}

.headline {
  color: $main-color;
  margin-bottom: .8em;
  line-height: $line-height-baseline;
  text-transform: uppercase;
  letter-spacing: -.05em;
  font-size: 2em;

  @include max-screen($tablet-size) {
    margin-bottom: .8em;
  }
  @include max-screen($mobile-size) {
    margin-bottom: .4em;
  }
}

p {
  margin-bottom: 1.5em;
  line-height: 1.8 * $line-height-baseline;
  font-size: 0.9em;

  @include max-screen($mobile-size) {
    margin-bottom: 0.7em;
  }
}

.plugins-wrapper {
  text-align: center;

  .section-heading {
    margin: 4.2em 1em 0 1em;

    &__subhead { color: #767676; }
  }

  .section-explanation {
    margin: 0 auto 4.2em auto;
    width: 60%;
    @include max-screen($mobile-size) { width: 100%; }
    color: #767676
  }
}
.plugins-section {
  border-top: 1px solid #e5e5e5;
}
.plugins-list {
  width: 50%;
  @include max-screen($mobile-size) { width: 100%; }
  margin: 0 auto;

  &__title {
    padding: 20px 0 10px 0;
    margin-left: 20px;
    text-align: left;
  }

  &__desc {
    margin: 0px 20px;
    padding: 0 0 20px 0;
    text-align: left;
    border-bottom: 1px solid #ced1d6;

    &-last {
      border-bottom: none;
    }
  }
}

.footer-wrapper {
  $gray-color: #a9a9a9;
  position: relative;
  display: block;
  margin: 0 auto;
  padding-top: 3em;
  padding-bottom: 4em;
  text-align: center;
  padding-bottom: 2em;
  background-color: #222;
  color: $gray-color;

  .icon {
    display: inline-block;
    color: $gray-color;
    background-repeat: no-repeat;
    transition: all 0.2s linear;
    font-size: 2em;
    padding: 10px;
    margin-right: 20px;

    &:last-child { margin-right: 0; }

    &:hover { color: white; border-color: white; }
  }
}
