$main-color: #e35239;
$main-dark-color: #be1d2c;
$font-color: #111;
$border-color: #d3d2d0;
$grey-color: #e5e5e5;
$orange-color: #f05927;
$light-black-color: #222;
$line-height-baseline: 1em;
$dark-red-color: #bf1f2c;
$white-color: #fff;

$column-width: 81px;
$gutter-width: 8px;
$columns: 12;
$total-width: 100%; //1060px;

$tablet-size: 53.75em;
$medium-size: 44em;
$mobile-size: 38.5em;
$desktop-size: 1000px;
