body {
  font: 400 112.5%/1.4 'VarelaRegular';
  color: $font-color;
  display: block;
  @include transition(font-size .5s ease);
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: $main-color;
  @include transition(color .5s ease);
}
a:visited {
  color: $main-color;
}
a:hover {
  color: $main-dark-color;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  float: left;

  li {
    float: none;
    display: inline-block;
    width: auto;
    margin-left: .2em;
    margin-right: .4em;
  }
}

h1, h2, h3 {
  text-transform: uppercase;
}

table {
  width: 100%;
  border: 1px solid #DDDDDD;
  border-left: 0;
  border-collapse: separate;
  border-radius: 4px;
  text-align: left;
  thead {
    line-height: 1.6em;
  }
  th {
    font-weight: bold;
    border-left: 1px solid #DDDDDD;
    padding: 12px;
    line-height: 20px;
    text-align: left;
  }
  tbody {
    tr {
      margin: 5px 0;
      &:nth-of-type(odd) {
        background-color: #F9F9F9;
      }
    }
    td {
      border-left: 1px solid #DDDDDD;
      padding: 0.5em;
      line-height: 20px;
      border-top: 1px solid #DDDDDD;
    }
  }
}
.container {
  margin: 0 auto;
  padding: 0;
  max-width: 64em;
  @include clearfix();
}
.nav-collapse {
  text-align: left;
  width: 100%;
  padding: 0.625em 0;
  display: none;

  &:after {
    content: "";
    background: image-url("icons/nav-icon.png") no-repeat;
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    top: 6px;
    right: 10px;
  }

  &.active {
    display: block;
  }
}

.main-nav.hide { display: block; }
.main-nav {
  float: left;
  width: 100%;
  margin: 0px;
  padding: 0px;
  text-align: center;
  z-index: 100;

  li {
    margin-left: .8em;
  }
  li:last-child {
    border-right: 0;
    margin-right: 0;
  }

  .nav-link {
    a {
      @include transition(background .5s ease);
      margin: 0;
      padding: 2.4em .4em .8em;
      font-size: 1.1em;
      font-weight: 400;
      letter-spacing: 1px;
      text-transform: uppercase;
      width: 100%;
      float: left;
      color: #111111;
      outline: none;

      &:hover {
        background: #dddddd;
      }
    }

    &.more {
      overflow: visible;

      > a:after {
        content: "\25BE";
      }
    }
  }
  .active a {
    color: white;
    background: $main-color;
  }

  .dropdown-menu {
    -webkit-transform-style: preserve-3d;
    @include transition(all 200ms ease-in-out);
    cursor: pointer;
    display: none;
    overflow: hidden;
    position: absolute;
    border: 1px solid #e35239;
    border-radius: 3px;
    top: 5em;
    width: 10em;
    text-align: left;
    z-index: 9999;
    background-color: #FFFFFF;
    padding: 5px 0;

    li {
      display: block;
      margin: 0;

      > a {
        display: block;
        margin: 0;
        padding: 0;
        font-size: 1em;
        text-transform: none;
        padding: 3px 10px;
        clear: both;
        line-height: 1.5;
      }
    }

    &.show-menu {
      display: block;
    }
  }
}

.banner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: .5em;
  background: $main-color;
}

.content {
  width: 100%;
  margin: 0px;
  @include transition(margin .5s ease);

  .intro {
    position: relative;
    @include column(12);
    margin-top: 4em;
    margin-bottom: 6em;
    text-align: center;

    .intro-brand {
      display: block;
      @include row(12);
      margin: 0 auto;
    }

    .intro-blurb {
      position: relative;
      font: 400 2.4em/1.4em 'OpenSansLight';
      margin-top: 0.8em;
      margin-bottom: 0.8em;
      text-transform: none;
      text-align: center;

      &:after {
        content: '';
        z-index: 100;
        position: absolute;
        left: 45%;
        bottom: -50px;
        width: 0;
        height: 0;
        border-left: 32px solid transparent;
        border-right: 32px solid transparent;
        border-top: 32px solid #CCCCCC;
      }
    }
  }

  .section {
    width: 100%;
    height: auto;

    .separator {
      @include column(12);
      padding-bottom: 1.7em;
      margin-bottom: 3em;
    }

    .headline {
      @include column(8, 12);
      @include push(2);
      color: $main-color;
      margin-bottom: .8em;
      line-height: $line-height-baseline;
      text-transform: uppercase;
      letter-spacing: -.05em;
      font-size: 2em;
    }

    .sub-headline {
      @include column(8, 12);
      @include push(2);
      margin-bottom: .8em;
      letter-spacing: 1px;
    }

    p {
      @include column(8, 12);
      @include push(2);
      margin-bottom: 1.5em;
      line-height: 1.8 * $line-height-baseline;
      font-size: 0.9em;
    }

    li {
      display: list-item;
      margin: 0;
      padding: 0;
      margin-bottom: 1.4em;
      list-style: circle;
      line-height: 1.8em;
    }

    &.features-area {
      position: relative;

      .features-wrapper {
        position: relative;
        float: left;
        width: 100%;
        background-color: $features-color;
        color: white;
        margin-top: 1em;
        margin: 0px;
        margin: 0 -600rem;
        padding: 0 600rem;
        box-shadow: 0px 0px 35px rgba(0,0,0,.45);

        .column-1 {
          @include column(4, 12);
          @include push(2);
          margin-top: 2em;
          margin-bottom: 1.4em;
          margin-right: 2em;
        }

        .column-2 {
          @include column(4, 12);
          margin-top: 2em;
          margin-bottom: 1.4em;
        }
      }
    }

    pre {
      @include column(8, 12);
      @include push(2);
      margin-bottom: 3em;
    }
  } // .section

  .usage {
    @include column(12);
    margin: 0 auto;

    .side-nav {
      @include column(3, 12);
      @include push(1);

      .nav-header {
        text-align: left;
        letter-spacing: 1px;
        background-color: $features-color;
        color: white;
        padding: 10px 15px 9px 10px;
      }

      ul {
        float: none;
        li {
          display: list-item;
          line-height: 1.8 * $line-height-baseline;

          a {
            @include transition(all .25s);
          }
        }
      }
    }

    .page {
      @include column(6.5, 12);
      padding: 0 1em;
      margin-top: 4em;

      h1 {
        color: $main-color;
      }

    }
  } // usage

  .plugins {
    @include column(10, 12);
    @include push(1);
    text-align: center;

    h1 {
      text-align: left;
      color: $main-color; 
    }
    p {
      text-align: left;
    }

    .tty-branding {
      display: inline-block;
      margin-top: 3em;
      .tty-logo-small {
        width: 200px;
      }
    }

  } // plugins
}

.highlight pre:hover {
  background-color: white;
}

.highlight pre {
  padding: 2em 2em 1.3em;
  box-shadow: 0 1px 4px #f1f0f0, inset 0 0 0 1px #e7e6e5;
  font-size: 0.9em;
  background-color: #f4f4f4;
}

.center {
  text-align: center;
}

.button {
  display: inline-block;
  background-color: $main-color;
  color: #FFFFFF;
  text-transform: uppercase;
  padding: .65em 1em;
  letter-spacing: 2px;
  text-align: center;
  @include transition(background-color .5s ease);

  &:hover {
    color: #FFFFFF;
    background-color: $main-dark-color;
  }
  &:visited {
    color: #FFFFFF;
  }
}

.footer {
  position: relative;
  display: block;
  float: left;
  width: 100%;
  margin-top: 6em;
  margin-bottom: 4em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-bottom: 2em;

  .icon {
    display: inline-block;
    background-repeat: no-repeat;
    width: 48px;
    height: 48px;
    margin-left: 8px;

    &.twitter { background-image: image-url("icons/twitter-48.png"); }
    &.email   { background-image: image-url("icons/email-32.png"); }
    &.github  { background-image: image-url("icons/github-48.png"); }
    &.linkedin { background-image: image-url("icons/linkedin-48.png"); }
  }

}

@media all and (max-width: $tablet-size) {
  body {
    font: 400 100%/1.4 'VarelaRegular';

    .main-nav.hide { display: block; }

    .content {
      .intro {
        margin: 5em auto;
        margin-top: 2.5em;

        .intro-logo { height: 15em; }

        .intro-blurb {
          margin-top: .8em;
          font: 400 1.6em/1.4em 'OpenSansLight';

          &:after {
            bottom: -40px;
            border-left: 24px solid transparent;
            border-right: 24px solid transparent;
            border-top: 24px solid #CCCCCC;
          }
        }
      }

      .section {
        .headline {
          @include column(10, 12);
          @include push(1);
          margin-bottom: .8em;
        }

        .sub-headline {
          @include column(10, 12);
          @include push(1);
          margin-bottom: .8em;
          letter-spacing: 1px;
        }

        .separator {
          @include column(10, 12);
          @include push(1);
        }

        p {
          @include column(10, 12);
          @include push(1);
          margin-bottom: 1.5em;
        }

        .features-wrapper {
          @include row(12);

          .column-1 {
            @include column(4, 12);
            @include push(1);
            margin-top: 2em;
            margin-bottom: 1.4em;
          }

          .column-2 {
            @include column(4, 12);
            margin-top: 2em;
            margin-bottom: 1.4em;
          }
        }

        pre {
          @include column(9);
          @include push(1);
          margin-bottom: 3em;
        }
      }
    }
  }
}

@media all and (max-width: $mobile-size) {
  body {
    font: 400 90%/1.4 'VarelaRegular';

    .nav-collapse { display: block; }

    .main-nav.hide { display: none; }

    nav[role="navigation"] a {
      border-bottom: 1px solid white;
      background: $main-color;
      color: white;
      margin: 0;
      padding: .5em 1em;
    }

    nav[role="navigation"] li {
      width: 100%;
      margin-left: 0;
      text-align: left;
      display: block;
    }

    .content {
      .intro {
        margin-bottom: 4em;

        .intro-brand {
          margin-bottom: 2 * $line-height-baseline;
          .intro-logo { height: 10em; }
        }
        .intro-blurb {
          margin-top: .4em;
          font: 400 1.4em/1.4em 'OpenSansLight';

          &:after {
            bottom: -30px;
            border-left: 18px solid transparent;
            border-right: 18px solid transparent;
            border-top: 18px solid #CCCCCC;
          }
        }
      }

      .section {
        .headline {
          @include column(12);
          margin-bottom: .4em;
        }

        .sub-headline {
          @include column(12, 12);
          margin-bottom: .4em;
          letter-spacing: 1px;
        }

        p {
          @include column(12);
          padding: 1em;
          margin-bottom: 0.7em;
        }

        &.features-area {
          .features-wrapper {
            .column-1 {
              @include column(12);
              margin-top: 2em;
              padding-left: 10%;
            }
            .column-2 {
              @include column(12);
              padding-left: 10%;
            }
          }
        }

        pre {
          @include column(10);
          margin-bottom: 3em;
        }
      }
      .usage {
        @include column(12);
        .side-nav {
          @include column(12, 12);
        }
        .page {
          @include column(8.5, 12);
        }
      } // usage
    }
  }
}
