body {
  font: 400 112.5%/1.4 'VarelaRegular';
  color: $font-color;
  display: block;
  @include transition(font-size .5s ease);
}

a {
  text-decoration: none;
  color: $main-color;
  @include transition(color .5s ease);
}
a:visited {
  color: $main-color;
}
a:hover {
  color: $main-dark-color;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  float: left;

  li {
    float: none;
    display: inline-block;
    width: auto;
    margin-left: .2em;
    margin-right: .4em;
  }
}

h1, h2, h3 {
  text-transform: uppercase;
}

.container {
  margin: 0;
  padding: 0;
}

.nav-collapse {
  text-align: left;
  width: 100%;
  padding: 0.625em 0;
  display: none;

  &:after {
    content: "";
    background: image-url("icons/nav-icon.png") no-repeat;
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    top: 6px;
    right: 10px;
  }

  &.active {
    display: block;
  }
}

.main-nav {
  text-align: center;

  li {
    margin-left: .6em;
  }
  li:last-child {
    border-right: 0;
    margin-right: 0;
  }

  a {
    margin: 0;
    padding: 2em .5em .5em;
    font-size: 1.1em;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    width: 100%;
    float: left;
    @include transition(background .5s ease);

    &:hover {
      background: #dddddd;
    }
  }

  .active a {
    color: white;
    background: $main-color;
  }
}

.banner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: .5em;
  background: $main-color;
}

.content {
  overflow: hidden;
  @include column(8);
  @include transition(margin .5s ease);
  width: 100%;
  margin: 0;

  .intro {
    @include row(8);
    margin: 4em auto;
    margin-top: 0;

    .tty-brand {
      @include column(4, 8);
      @include push(2);
      display: block;
      float: left;
      text-align: center;

      .tty-logo {
        width: auto;
        max-width: 100%;
      }
    }

    .tty-name {
      @include column(4, 8);
      color: $main-color;
      font-size: 4.5em;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      line-height: $line-height-baseline;
    }

    .tty-blurb {
      @include column(4, 8);
      @include push(2);
      font-size: 1em;
      margin-top: .8em;
      margin-bottom: 0;
      line-height: 1.6 * $line-height-baseline;
      text-transform: none;
      text-align: center;
    }
    margin-top: 5.5em;
  }


  .section {
    @include row(8);

    .separator {
      @include column(4, 8);
      @include push(2);
      padding-bottom: 1.7em;
      margin-bottom: 3em;
    }

    .headline {
      @include column(4, 8);
      @include push(2);
      color: $main-color;
      margin-bottom: .8em;
      line-height: $line-height-baseline;
      text-transform: uppercase;
      letter-spacing: -.05em;
      font-size: 2em;

      &:hover {
      }
    }

    .sub-headline {
      @include column(4, 8);
      @include push(2);
      margin-bottom: .8em;
      letter-spacing: 1px;
    }

    p {
      @include column(4, 8);
      @include push(2);
      margin-bottom: 1.5em;
      line-height: 1.8 * $line-height-baseline;
      font-size: 0.9em;
    }

    li {
      display: list-item;
      margin: 0;
      padding: 0;
      margin-bottom: 1.4em;
      list-style: circle;
      line-height: 1.8em;
      span {
      }
    }

    .features-wrapper {
      @include column(8,8);
      background-color: #F05927;
      color: white;
      margin-top: 1em;
      text-shadow: 0px 0px 5px rgba(0,0,0,.75);
      @include box-shadow(0px 0px 35px rgba(0,0,0,.45));
    }

    .column-1 {
      @include column(2, 8);
      @include push(2);
      margin-top: 2em;
      margin-bottom: 1.4em;
      margin-right: 2em;
    }

    .column-2 {
      @include column(2, 8);
      margin-top: 2em;
      margin-bottom: 1.4em;
    }

    pre {
      @include column(4, 8);
      @include push(2);
      margin-bottom: 3em;
    }

  }
}

.highlight pre:hover {
  background-color: white;
}

.highlight pre {
  padding: 2em 2em 1.3em;
  @include box-shadow(0 1px 4px #f1f0f0, inset 0 0 0 1px #e7e6e5);
  font-size: 0.9em;
  background-color: #f4f4f4;
}

.center {
  text-align: center;
}

.button {
  display: inline-block;
  background: $main-color;
  color: white;
  text-transform: uppercase;
  padding: .65em 1em;
  letter-spacing: 2px;
  @include transition(background .5s ease);
}

.button:visited {
  color: white;
}
.button:hover {
  background: $main-dark-color;
}

.footer {
  @include column(8);
  margin-top: 6em;
  margin-bottom: 4em;
  text-align: center;
  padding-bottom: 2em;

  .icon {
    display: inline-block;
    width: 48px;
    height: 48px;

    &.twitter {
      background-image: image-url("icons/twitter-32.png");
    }

    &.email {
      background-image: image-url("icons/email-32.png");
    }

    &.github {
      background-image: image-url("icons/github-32.png");
    }
  }

}

@media all and (max-width: $tablet-size) {
  body {
    font: 400 100%/1.4 'VarelaRegular';

    .content {
      @include column(8);
      width: 100%;
      margin: 0;

      .intro {
        @include row(8);
        margin: 5em auto;

        .tty-brand {
          @include column(6, 8);
          @include push(1);

          .tty-logo {
            height: 15em;
          }
        }

        .tty-blurb {
          @include column(6, 8);
          @include push(1);
          margin-top: .8em;
        }
      }

      .section {
        @include row(8);

        .headline {
          @include column(6, 8);
          @include push(1);
          margin-bottom: .8em;
        }

        .sub-headline {
          @include column(6, 8);
          @include push(1);
          margin-bottom: .8em;
          letter-spacing: 1px;
        }

        .separator {
          @include column(6, 8);
          @include push(1);
        }

        p {
          @include column(6, 8);
          @include push(1);
          margin-bottom: 1.5em;
        }

        .features-wrapper {
          @include row(8);

          .column-1 {
            @include column(3, 8);
            @include push(1);
            margin-top: 2em;
            margin-bottom: 1.4em;
          }

          .column-2 {
            @include column(3, 8);
            margin-top: 2em;
            margin-bottom: 1.4em;
          }
        }

        pre {
          @include column(6, 8);
          @include push(1);
          margin-bottom: 3em;
        }
      }
    }
  }
}

@media all and (max-width: $mobile-size) {
  body {
    font: 400 90%/1.4 'VarelaRegular';

    .nav-collapse { display: block; }

    .main-nav.hide { display: none; }

    nav[role="navigation"] a {
      border-bottom: 1px solid white;
      background: $main-color;
      color: white;
      margin: 0;
      padding: .5em 1em;
    }

    nav[role="navigation"] li {
      width: 100%;
      margin-left: 0;
      text-align: left;
      display: block;
    }

    .content {
      @include column(8);
      padding: 0 .4em 0 .4em;
      width: 100%;
      margin: 0;

      .intro {
        @include row(8);
        margin: 2.5em auto;

        .tty-brand {
          @include column(8, 8);
          margin-bottom: 2 * $line-height-baseline;
          padding-left: 0;

          .tty-logo {
            height: 10em;
          }
        }

        .tty-blurb {
          @include column(8, 8);
          margin-top: .4em;
        }
      }

      .section {
        @include row(8);

        li span {
          padding-left: 2%;
        }

        .headline {
          @include column(8, 8);
          margin-bottom: .4em;
        }

        .sub-headline {
          @include column(8, 8);
          margin-bottom: .4em;
          letter-spacing: 1px;
        }

        p {
          @include column(8, 8);
          margin-bottom: 0.7em;
        }

        .features-wrapper {
          @include row(8);

          .column-1 {
            @include column(8, 8);
            margin-top: 2em;
            margin-bottom: 1.4em;
          }

          .column-2 {
            @include column(8, 8);
          }
        }

        pre {
          @include column(8, 8);
          margin-bottom: 3em;
        }
      }
    }
  }
}
