$main-color: #E35239;
$main-dark-color: #BE1D2C;
$font-color: #111111;
$border-color: #d3d2d0;
$light-black-color: #222222;
$line-height-baseline: 1em;

$column-width: 114px;
$gutter-width: 16px;
$columns: 8;
$total-width: 100%;

$tablet-size: 860px;
$mobile-size: 400px;
$desktop-size: 1000px;
