$main-color: #E35239;
$main-dark-color: #BE1D2C;
$font-color: #111111;
$border-color: #d3d2d0;
$features-color: #F05927;
$light-black-color: #222222;
$line-height-baseline: 1em;

$column-width: 81px;
$gutter-width: 8px;
$columns: 12;
$total-width: 100%; //1060px;

$tablet-size: 53.75em;
$mobile-size: 38.5em;
$desktop-size: 1000px;
